# Folder dependencies
node_modules/

# Folder sesi WhatsApp
auth_session/

# File temporary
tmp/
*.mp3
*.mp4
*.jpg
*.png
*.webp
*.ogg
*.wav

# Log error
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Konfigurasi rahasia
.env